
:root {
    --primary-color: #ddd6e5; 
    --secondary-color: #8368aa;
    --accent1-color: #f5f5f8; 
    --text-color: #333; 
    --heading-font: 'Merriweather', serif;
    --text-font: 'Roboto', sans-serif;
}



body {
    font-family: var(--text-font);
    background-color: var(--primary-color);
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

header {
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 20px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
}

/* Nav Section */

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 10px 20px;
}

nav a {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 12px 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    text-decoration:blink;
    background-color: #ddd6e5;
    color: #333;
    border-radius: 5px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;

}

 /* card sections */

.card, .card2 {
    background-color: var(--accent1-color);
    border: 1px solid #ddd6e5;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(6, 6, 6, 0.1);
    margin: 7px;
    padding: 20px;
    transition: transform 0.3s ease-in-out; 
}


/* card movment */
.card:hover, .card2:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card {
    width: 90%;
}

.card h2 {
    display: inline-block;
    color: var(--secondary-color);
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #8368aa;
    margin-bottom: 10px;
}

.card2 h2 {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    margin-bottom: 20px;
    padding: 10px 20px; 
    text-align: center; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card2 .card-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    padding: 15px;
    background-color: #ddd6e5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px; 
}

ul {
    list-style: none; 
    padding: 0;
    margin-left: 20px; 
    margin-top: 40px;
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    font-size: 1rem; 
}

ul a {
    text-decoration: none;
    color: var(--text-color)
}

ul a:hover {
    text-decoration:underline;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    border-radius: 5px;
    padding: 5px
}


.card img {
    float: right;
    margin: 25px;
}

.card-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
    margin-left: 5px;
}

.card-img img {
    max-width: 100%;
    height: auto;
}

.utah .card-img {
    float: left;
    margin: 5px;
}


/* footer section */
footer {
    margin-top: 50px;
    padding: 20px;
    font-size: 0.9rem;
    text-align: center;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

footer p {
    margin: 5px 0;
    font-size: 0.9rem;
}
