* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


header {
    /* display: grid; */
    /* grid-gap: 1rem; */
    background-color: #e4e2e2;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
    min-height: 80px;
}

header, main {
    margin: 0 auto;
}

nav {
    background-color: #36454f;
}


nav ul {
    list-style: none;
    display: none; 
    flex-direction: column; 
    width: 100%;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    background-color: #fff;
    color: #555;
    font-weight: bold;

}

/* Hamburger button */
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    margin-left: auto;
}

#menu::before {
    content: "≡"; 
}


nav.show ul {
    display: flex; 
    flex-direction: column;
}

#menu.show::before {
    content: "X"; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.temple-gallery {
    text-align: center;
    margin-bottom: 1rem; 
}

/* .temple-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
} */

.temple-card {
    /* border: 1px solid #d7d6d6;
    padding: 0.5rem;
    text-align: center;
    background-color: #f4f3f3; */
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center align the items (text) */
    min-height: 250px; /* Prevents shifting when content loads */
}


.temple-card img {
    order: 2; /* Place temple image second */
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;  
}

.temple-card h2 {
 margin-bottom: 1rem;
}

.temple-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #e4e2e2;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px #333;
}

/* so it will diplay on small screens only */
@media only screen and (min-width: 40em) {
    nav ul {
        display: flex; 
        flex-direction: row; 
    } 

    #menu {
        display: none; 
    }
} 


/* Large Screen*/
@media (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }

    .temple-gallery {
        font-size: 1.5rem;
    }

    .temple-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 1.5rem;
    }

    .temple-card {
        border: 1px solid #ddd;
        padding: 1rem;
        text-align: center;
        background-color: #f4f3f3;
    }

    .temple-card:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

}