
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1.5rem;
    text-align: center;
    background-color: #694676;
    color: white;
    font-family: 'Roboto', sans-serif;
}
 
.review input[type="submit"]:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

form {
    background-color: white; 
    padding: 20px;
    border-radius: 8px;
    max-width: 90%; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.review fieldset {
    margin: 1rem 0;
    border: none;
    border-radius: 6px;
    padding: .5rem 2%;
}
.review legend {
    padding: 0 .5rem
}

.product_select {
    display: block;
}

.stars {
    display: flex;
    gap: 10px;
}

.review label {
    display: block;
    padding-top: .2rem;
    font-size: .9rem;
}

.review input[type="date"],
.review input[type="text"], 
.review textarea,
.review select

{
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    min-height: 44px;
}

input[type="checkbox"] {
    width: 2em;
    height: 1rem;
 
  }
  


.review input[type="text"], 
.review textarea, 
.review select {
    margin-top: 10px;
}

.review input[type="radio"] {
    margin-right: 6px;
    margin-left: 6px;
}

.review input[type="radio"],
.review input[type="checkbox"] {
    margin-right: 6px;
}

.review input[type="submit"] {
    /* background-color: red; */
    border-radius: 6px;
    border: solid 1px #999;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin: -.5rem 2% 2rem 2%; 
    box-shadow: 1px 1px 4px #999;
    font-size: 1rem;
}

footer {
    background-color: #694676;
    color: white;
    padding: .5rem 2%;
    text-align: center;
}
    



@media (min-width: 768px) {
    form {
        max-width: 600px; 
    }
}


