/* Large Screen*/
@media (min-width: 768px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }

    .temple-gallery {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    figure {
        border: 1px solid #ddd;
        padding: 1rem;
        text-align: center;
        background-color: #f9f9f9;
    }

    figure:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        text-align: center;
        padding: 2rem;
    }
}